flow.json
[
    {
        "id": "2352537bc9428508",
        "type": "tab",
        "label": "Web App Movil",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53497c9abd8bb944",
        "type": "group",
        "z": "2352537bc9428508",
        "name": "PIN Access",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "7d92dedf.5c1b3",
            "39cd572c.1e4138",
            "d9986fc8.49167",
            "513389a4.589638",
            "2a464b8b.558314",
            "2de88430.b7864c",
            "1f5853d8.36dbdc",
            "76ea846e.bfbe4c",
            "b92fbf33.e21cc",
            "e167bcb5.de23",
            "54f95096.51461",
            "3569b378.05d7ac",
            "49d71834.096548",
            "abbb2a40.b43368",
            "3fd102daf6ff4686"
        ],
        "x": 34,
        "y": 59,
        "w": 712,
        "h": 202
    },
    {
        "id": "f00a6ab86a2597c6",
        "type": "group",
        "z": "2352537bc9428508",
        "name": "Control Pestañas",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "5949b815ac7f64dd",
            "48655d5777553db3",
            "1d05bbc77848e7f7",
            "dade04e06ae2cee3",
            "1a7748e2931bdee0",
            "0e8e30bf946cc9b6",
            "5c789da27e3dbf77"
        ],
        "x": 34,
        "y": 319,
        "w": 592,
        "h": 162
    },
    {
        "id": "b2fc27ff784f01f7",
        "type": "group",
        "z": "2352537bc9428508",
        "name": "Datos Mostrados",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "c046541ae1d08348",
            "bc7860167cfe162a",
            "bd4dc346747a750c",
            "a2db8eb812864f1a",
            "beda49c6852b6a19",
            "9a17e4f2fada4933",
            "57b51ea035dc0916",
            "8742013246bfab5d",
            "650f185550fe0ba8",
            "941bbe3ced196876",
            "3d1f2f68e7b51efb",
            "9ad96a2a974aaca5",
            "6aa5a4f1ff5ce373",
            "293208800a134d0e",
            "f4ac925bfb25be14",
            "ae927fc5363da5b3",
            "7570510068491e90",
            "b477272e61a66b52"
        ],
        "x": 34,
        "y": 719,
        "w": 712,
        "h": 382
    },
    {
        "id": "24531aa73b209ec5",
        "type": "group",
        "z": "2352537bc9428508",
        "name": "Gestion de sesiones activas",
        "style": {
            "fill": "#dbcbe7",
            "label": true
        },
        "nodes": [
            "845d0cca4c1a4b72",
            "9d41fe89deca8f46",
            "2a4471d0707ce80e",
            "5e47cd75b4dd51fd",
            "988e2fbf4ff68a5e"
        ],
        "x": 214,
        "y": 519,
        "w": 612,
        "h": 162
    },
    {
        "id": "42215532dc65ce87",
        "type": "ui_tab",
        "name": "CPU",
        "icon": "computer",
        "order": 2,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "1466bdc5ae19116f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Webapp Demo",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6974c20bef22822c",
        "type": "ui_group",
        "name": "Raspberry",
        "tab": "42215532dc65ce87",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc0599d5b9eeb5a5",
        "type": "ui_tab",
        "name": "Temperatura",
        "icon": "fa-thermometer-full",
        "order": 3,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "7a45d1ee681c2eb1",
        "type": "ui_group",
        "name": "Home",
        "tab": "cc0599d5b9eeb5a5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4851ecc.b4b53",
        "type": "ui_group",
        "name": "Keypad",
        "tab": "f71dee08.232e9",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f71dee08.232e9",
        "type": "ui_tab",
        "name": "Button Panel",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12869ceda2bb695f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "170034691a8d544e",
        "type": "ui_tab",
        "name": "Salir",
        "icon": "exit_to_app",
        "order": 5,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "af6301dfb8f3cde3",
        "type": "ui_group",
        "name": "Exit",
        "tab": "170034691a8d544e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2fabcf8280df47ef",
        "type": "ui_tab",
        "name": "Light Control",
        "icon": "fa-lightbulb-o",
        "order": 4,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "f3d5ba6ccdbe72d4",
        "type": "ui_group",
        "name": "Home Lamp",
        "tab": "2fabcf8280df47ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c046541ae1d08348",
        "type": "ui_gauge",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "group": "6974c20bef22822c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "className": "",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "bc7860167cfe162a",
        "type": "ui_gauge",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "group": "7a45d1ee681c2eb1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 550,
        "y": 840,
        "wires": []
    },
    {
        "id": "7d92dedf.5c1b3",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 1",
        "order": 1,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '1' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-1\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"15\" ry=\"15\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">1</text>\n </g>\n</svg>\n</md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "39cd572c.1e4138",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 6",
        "order": 6,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '6'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-6\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">6</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "d9986fc8.49167",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 3",
        "order": 3,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '3' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-3\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">3</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "513389a4.589638",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 4",
        "order": 4,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '4'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-4\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">4</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "2a464b8b.558314",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 5",
        "order": 5,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '5'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-5\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">5</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "2de88430.b7864c",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 7",
        "order": 7,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '7'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-7\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">7</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "1f5853d8.36dbdc",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 2",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '2' })\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-2\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">2</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "76ea846e.bfbe4c",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 8",
        "order": 8,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '8'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-8\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">8</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "b92fbf33.e21cc",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 9",
        "order": 9,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '9'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-9\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">9</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "e167bcb5.de23",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key *",
        "order": 10,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '*'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-Reset\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\">\n    <title>Reset</title>\n  </rect>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"50\" y=\"250\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 250px; font-family: Arial;\">*</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "54f95096.51461",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key 0",
        "order": 11,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '0'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-0\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\"/>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">0</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "3569b378.05d7ac",
        "type": "ui_template",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "group": "d4851ecc.b4b53",
        "name": "Key #",
        "order": 12,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:transparent\" ng-click=\"send({payload: '#'})\"> \n<svg width=\"105px\" height=\"105px\" version=\"1.1\" viewBox=\"0 0 260 260\">\n <g id=\"Key-Enter\">\n  <rect fill=\"#4D4D4D\" width=\"200\" height=\"200\" rx=\"12\" ry=\"12\">\n    <title>Enter</title>\n  </rect>\n  <path fill=\"none\" stroke=\"#B3B3B3\" stroke-width=\"7.99957\" d=\"M6 194c-1,-1 -2,-3 -2,-6l0 -176c0,-4 4,-8 8,-8l176 0c2,0 4,1 6,2\"/>\n  <path fill=\"none\" stroke=\"#1A1A1A\" stroke-width=\"7.99957\" d=\"M194 6c1,1 2,3 2,6l0 176c0,4 -4,8 -8,8l-176 0c-2,0 -4,-1 -6,-2\"/>\n  <text x=\"59\" y=\"153\" style=\"fill: #E6E6E6; font-weight: normal; font-size: 150px; font-family: Arial;\">#</text>\n </g>\n</svg>\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "49d71834.096548"
            ]
        ]
    },
    {
        "id": "49d71834.096548",
        "type": "function",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "name": "code entry",
        "func": "var send = false; //flag envio al recibir #\nvar key = msg.payload;\nvar sesion = msg.socketid;\nvar out = flow.get(\"codigos\") || {};\nif (sesion in out === false){\n    out[sesion] = \"\";\n}\n\n//guardar fecha sesiones\nvar fechas = flow.get(\"fechas\") || {};\nfechas[sesion] = Date.now();\nflow.set(\"fechas\", fechas);\n\nif (key === \"#\") {\n    send = true; // send code\n    msg.payload = out[sesion];\n    delete out[sesion]; // reset code\n}\nelse if (key === \"*\") {\n    delete out[sesion]; // reset code\n}\nelse if (!isNaN(+key)) {\n    out[sesion] += key; // append key\n}\nflow.set(\"codigos\", out );\n\n// output #1: keys entered\n// output #2: completed code\n\nreturn [\n    send ? null : msg,\n    send ? msg : null\n];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "3fd102daf6ff4686"
            ],
            [
                "abbb2a40.b43368",
                "5949b815ac7f64dd"
            ]
        ],
        "outputLabels": [
            "last key number",
            "completed code"
        ]
    },
    {
        "id": "abbb2a40.b43368",
        "type": "debug",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "name": "code entered",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "3fd102daf6ff4686",
        "type": "debug",
        "z": "2352537bc9428508",
        "g": "53497c9abd8bb944",
        "name": "keys pressed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "5949b815ac7f64dd",
        "type": "switch",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "941941",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "1a7748e2931bdee0",
                "0e8e30bf946cc9b6",
                "6aa5a4f1ff5ce373",
                "9ad96a2a974aaca5",
                "845d0cca4c1a4b72",
                "2a4471d0707ce80e"
            ],
            [
                "1d05bbc77848e7f7"
            ]
        ]
    },
    {
        "id": "48655d5777553db3",
        "type": "ui_toast",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d05bbc77848e7f7",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CONTRASEÑA INCORRECTA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "48655d5777553db3"
            ]
        ]
    },
    {
        "id": "dade04e06ae2cee3",
        "type": "ui_ui_control",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "name": "",
        "events": "change",
        "x": 520,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1a7748e2931bdee0",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"enable\":[\"Temperatura\",\"CPU\",\"Salir\",\"Light_Control\"],\"show\":[\"Temperatura\",\"CPU\",\"Salir\",\"Light_Control\"],\"hide\":\"Button_Panel\",\"disable\":\"Button_Panel\"},\"group\":{\"show\":[\"CPU_Raspberry\",\"Temperatura_Home\",\"Salir_Exit\",\"Light_Control_Home_Lamp\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "dade04e06ae2cee3"
            ]
        ]
    },
    {
        "id": "0e8e30bf946cc9b6",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "name": "Mueve a la siguiente tab",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "5c789da27e3dbf77"
            ]
        ]
    },
    {
        "id": "5c789da27e3dbf77",
        "type": "delay",
        "z": "2352537bc9428508",
        "g": "f00a6ab86a2597c6",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "dade04e06ae2cee3"
            ]
        ]
    },
    {
        "id": "bd4dc346747a750c",
        "type": "mqtt in",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "12869ceda2bb695f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "bc7860167cfe162a",
                "650f185550fe0ba8",
                "ae927fc5363da5b3"
            ]
        ]
    },
    {
        "id": "a2db8eb812864f1a",
        "type": "mqtt in",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "12869ceda2bb695f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 370,
        "y": 960,
        "wires": [
            [
                "c046541ae1d08348",
                "941bbe3ced196876",
                "ae927fc5363da5b3"
            ]
        ]
    },
    {
        "id": "beda49c6852b6a19",
        "type": "ui_button",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "group": "af6301dfb8f3cde3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Exit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "9a17e4f2fada4933",
                "57b51ea035dc0916",
                "293208800a134d0e",
                "f4ac925bfb25be14",
                "9d41fe89deca8f46"
            ]
        ]
    },
    {
        "id": "9a17e4f2fada4933",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"disable\":[\"Temperatura\",\"CPU\",\"Salir\",\"Light_Control\"],\"hide\":[\"Temperatura\",\"CPU\",\"Salir\",\"Light_Control\"],\"enable\":\"Button_Panel\",\"show\":\"Button_Panel\"},\"group\":{\"hide\":[\"CPU_Raspberry\",\"Temperatura_Home\",\"Salir_Exit\",\"Light_Control_Home_Lamp\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "dade04e06ae2cee3"
            ]
        ]
    },
    {
        "id": "57b51ea035dc0916",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Mueve a la siguiente tab",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 760,
        "wires": [
            [
                "8742013246bfab5d"
            ]
        ]
    },
    {
        "id": "8742013246bfab5d",
        "type": "delay",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 760,
        "wires": [
            [
                "dade04e06ae2cee3"
            ]
        ]
    },
    {
        "id": "650f185550fe0ba8",
        "type": "ui_chart",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "group": "7a45d1ee681c2eb1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "941bbe3ced196876",
        "type": "ui_chart",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "group": "6974c20bef22822c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3d1f2f68e7b51efb",
        "type": "inject",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Oculta en inicio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 840,
        "wires": [
            [
                "9a17e4f2fada4933"
            ]
        ]
    },
    {
        "id": "6aa5a4f1ff5ce373",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Subscribe Temperature",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "casa/raspberrypi3/Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "bd4dc346747a750c"
            ]
        ]
    },
    {
        "id": "9ad96a2a974aaca5",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Subscribe CPU",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "casa/raspberrypi3/CPU",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "a2db8eb812864f1a"
            ]
        ]
    },
    {
        "id": "ae927fc5363da5b3",
        "type": "debug",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "293208800a134d0e",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Unsubscribe Temperature",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "casa/raspberrypi3/Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 920,
        "wires": [
            [
                "bd4dc346747a750c"
            ]
        ]
    },
    {
        "id": "f4ac925bfb25be14",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Unsubscribe Temperature",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "casa/raspberrypi3/CPU",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "a2db8eb812864f1a"
            ]
        ]
    },
    {
        "id": "7570510068491e90",
        "type": "inject",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "Limpia gráficas",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "650f185550fe0ba8",
                "941bbe3ced196876"
            ]
        ]
    },
    {
        "id": "b477272e61a66b52",
        "type": "ui_switch",
        "z": "2352537bc9428508",
        "g": "b2fc27ff784f01f7",
        "name": "",
        "label": "Control",
        "tooltip": "",
        "group": "f3d5ba6ccdbe72d4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 540,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "845d0cca4c1a4b72",
        "type": "function",
        "z": "2352537bc9428508",
        "g": "24531aa73b209ec5",
        "name": "Añade el numero de sesión activa",
        "func": "var new_session = msg.socketid;\nvar current_sessions = flow.get(\"sessions\",'file');\ncurrent_sessions.push(new_session);\nflow.set(\"sessions\", current_sessions, 'file');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"sessions\",[],'file');",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"sessions\", [], 'file');",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9d41fe89deca8f46",
        "type": "function",
        "z": "2352537bc9428508",
        "g": "24531aa73b209ec5",
        "name": "Elimina sesión activa",
        "func": "var del_session = msg.socketid;\nvar current_sessions = flow.get(\"sessions\", 'file');\n\ncurrent_sessions = current_sessions.filter(function (item) {\n    return item !== del_session\n});\n\nflow.set(\"sessions\", current_sessions, 'file');\n\n//Si está vacio reinicio el contador sino no mando nada\nif (current_sessions.length == 0){\n    msg.payload = \"cancel\";\n    msg.topic = \"control\";\n    return msg;\n}\nelse {\n    return;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "2a4471d0707ce80e"
            ]
        ]
    },
    {
        "id": "2a4471d0707ce80e",
        "type": "countdown",
        "z": "2352537bc9428508",
        "g": "24531aa73b209ec5",
        "name": "",
        "topic": "",
        "payloadTimerStart": "true",
        "payloadTimerStartType": "bool",
        "payloadTimerStop": "false",
        "payloadTimerStopType": "bool",
        "timer": "1800",
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": false,
        "startCountdownOnControlMessage": false,
        "minuteCounter": false,
        "x": 310,
        "y": 640,
        "wires": [
            [
                "5e47cd75b4dd51fd"
            ],
            []
        ]
    },
    {
        "id": "5e47cd75b4dd51fd",
        "type": "switch",
        "z": "2352537bc9428508",
        "g": "24531aa73b209ec5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "988e2fbf4ff68a5e",
                "beda49c6852b6a19"
            ]
        ]
    },
    {
        "id": "988e2fbf4ff68a5e",
        "type": "change",
        "z": "2352537bc9428508",
        "g": "24531aa73b209ec5",
        "name": "Eliminar todas las sesiones",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::sessions",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    }
]